<style>
  nav {
    height: 10%;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 0.8rem;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  input[type='text'] {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  button[type='submit'] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin-right: 20px;
  }
</style>

<nav>
  {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">LOGOUT</a>
  {% else %}
    <a href="{% url 'login' %}">LOGIN</a>
  {% endif %}

  <a href="{% url 'home' %}">HOME</a>
  <a href="{% url 'create-room' %}">CREATE ROOM</a>

  <form action="{% url 'home' %}" method="GET">
    <input type="text" name="q" placeholder="Search..." />
    <button type="submit">Search</button>
  </form>
</nav>
